body {
    background: url("/images/pw_maze_white.png");
}
.showcase {
    text-align: center;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 5px;
}
.selected {
    border-radius: 2px;
    padding: 3px;
    background-color: rgb(243, 255, 107);
    color: rgb(209, 77, 183);
    opacity: 1;
}
.selected:hover {
    color: rgb(209, 77, 183);
}
a.selected:visited {
    color: rgb(209, 77, 183);
}
a[href].no-trans {
    opacity: 1;
}
a:hover {
    text-decoration: none;
}
h2 {
    color: #C485B9;
}
.showcase h2 {
    color: black;
}
a[href] {
    /*font-weight: bold;*/
    color: rgb(155, 0, 123);
    opacity: 0.6;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}
a[href]:hover {
    color: rgb(155, 0, 123);
    opacity: 1 !important;
    text-decoration: none;
}
a[href]:visited {
    color: rgb(255, 0, 0);
}
.page-header {
    text-align: center;
}
.logo {
   display: block;
   margin: auto;
   width: 230px;
}
/* Override bootsrap*/
pre, code {
    background-color: #FFF;
    border: none;
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    margin: 0 0 20px 0;
}
h5.filename {
    margin: 0;
    padding: 0;
    color: #BDA715;

}
.tech {
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #ddd;
}
.container {
    background: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
p {
    font-size: 16px;
    line-height: 22px;
}
.lead {
    text-align: center;
}
h1 {
    font-family: 'Open Sans Light',sans-serif;
    font-weight: 400;
    letter-spacing: -2px;
}
.feature-row {
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.header-box {
    width: 280px;
    margin: 5px;
    border: 1px solid rgb(203, 234, 255);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.box {
    float: left;
    width: 320px;
    margin: 20px;
    border: 1px solid rgb(203, 234, 255);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.intro {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.btn.btn-purp {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: rgb(183, 50, 209);
    background-image: -moz-linear-gradient(top,#D99BDB,#B860D2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#D99BDB),to(#B860D2));
    background-image: -webkit-linear-gradient(top,#D99BDB,#B860D2);
    background-image: -o-linear-gradient(top,#D99BDB,#B860D2);
    background-image: linear-gradient(to bottom,#D99BDB,#B860D2);
    background-repeat: repeat-x;
    border-color: #B860D2 #B860D2 #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}